:root{
--cinza:rgb(4, 80, 4);
--vermelho:black;
--preto:rgb(168, 11, 11);
--branco: white
}
body{
    background-color: var(--vermelho);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'oi', 'oi', 'oi';
    min-height: 100vh;
}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--branca);
}
h2{
    color: var(--branca);
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.teclado{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

    
}